<header class="header">
    <nav>
        <ul>
            <li class="<%= path === '/products' ? 'active' : '' %>"><a href="/">Shop</a></li>

            <li class="<%= path === '/cart' ? 'active' : '' %>"><a href="/cart">Cart</a></li>

            <li class="<%= path === '/add-product' ? 'active' : '' %>"><a href="/admin/add-product">Add
                    Product</a></li>
            <li class="<%= path === '/products' ? 'active' : '' %>"><a href="/admin/products">Admin
                    Products</a></li>
        </ul>
    </nav>
</header>