
extends layouts/main-layout.pug

block title
    title #{PageTitle}
block styles
    link(rel="stylesheet", href="../css/product.css")
block content
        main
            form(action="/admin/product", method="POST")
                label(for="title") Title
                input.form-control(type="text", name="title")
                button.btn.btn-primary(type="submit") Add Product



