*{
    margin:0px;
    box-sizing: none;;
}
body{
    background-color:#eeeeee;
}
input[type="text"]{
    background-color: #ffffff;
    border-radius: 4px;
    border:none;
    box-shadow: darkgray;
}
input[type="text"]:focus{
    border:none;
    outline:none;
    color:chocolate!important;
}

.card-img-top{
    width: 50%;
    justify-self: center;
    align-self: center;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  
  grid-gap: 1rem;
  grid-auto-flow: dense;
}
.card-grid{
    
    background-color:white;
    -webkit-box-shadow: 5px 5px 10px -2px #c7c7c7;
    box-shadow: 5px 5px 10px -2px #c7c7c7;
    padding:20px;
}
.card{
    display:grid;
}